.formCard{
    padding-left: 20px;
    padding-right: 30px;
    width: 400px !important;
    height: 300px;
}

.formCard h4{
    margin-bottom: 1em;
    color:rgb(0, 0, 0);
}
.input:focus{
    outline:none !important;
    box-shadow: none !important;
    border: 1px solid #333333;
}

.gradient{
    background-image: linear-gradient(to right, #ffa550 0%,#f1b47a 100%)
}


