tr{
    height: 70px;
    text-align: center; 
    vertical-align: middle;
    color:gray;
    
}

td, th {
    text-align: center; 
    vertical-align: middle;
    color:gray;  
} 
.button-edit-delete{
    width: 30px;
}

.example::-webkit-scrollbar {
    display: none;
}