tr {
    height: 70px;
    text-align: center; 
    vertical-align: middle;
    min-width: 100%;
    
}
td, th {
    min-width: 100% !important;
    text-align: center; 
    vertical-align: middle;
    min-width: 100%;
}

Button{
    width: 30px;
}